
.vscode/
__pycache__/

Imgs_/
LIDC-IDRI/*
!LIDC-IDRI/*.gitkeep
/pylung/tests/
/TrainingSet/*
/pyprocessing/imageBasket/LPT/*
/pyprocessing/logs/*
/microsoft-caffe/caffe/data/nodulesdetect/nodule/*
/microsoft-caffe/caffe/data/nodulesdetect/non_nodule/*
/microsoft-caffe/caffe/data/nodulesdetect/small_nodule/*
/microsoft-caffe/caffe/data/nodulesdetect/health/*

